<% page_title = "The Alpaca | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>JavaScript Alpaca</h1>
  <p/>
  <canvas id="canvas1" width="512" height="512"></canvas>
  <div>
    <button id="sit">Sit</button>
    <button id="stand">Stand</button>
    <button id="color">Change Color</button>
    <button id="reset">Reset</button>
  </div>
  <p>Click anywhere in the sky to get the Alpaca to look at that spot</p>
  <p>Click anywhere on the ground to move the Alpaca to that spot</p>
  <p>Click on the sun for the Alpca to produce a rainbow</p>
  <script src="/javascripts/alpaca.js"></script>
</article>
