<% page_title = "Jelly Bean Identifier | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<style>
  .container{
    position: relative;
    text-align: center;
    color: white;
    font-family:"Trebuchet MS";
    text-shadow: 0 0 3px #000000\\             
  }
  .overlay{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<article>
  <div class="container">
    <canvas id="canvas" width="400" height="400" style="border-radius:24px;width:80vw;max-width:400px;"></canvas>
    <p id="guess" class="overlay">Loading</p>
  </div>
  <video id="playerElement" style="display:none" autoplay></video>
  <script>
                var playerElement = document.getElementById("playerElement");
                var output = document.getElementById("guess");
                var context = document.getElementById("canvas").getContext("2d");
                
                var gradient = context.createLinearGradient(-175, 175, -225, 225);
                gradient.addColorStop("0", "magenta");
                gradient.addColorStop("1.0", "blue");
                
                //These numbers are technically copyrighted under CC BY 4.0
                //Source: https://www.kaggle.com/freddyheppell/gourmet-jellybean-images
                //Owner: Freddy Heppell
                //This data has been modified from the source
                var beanData={
                    "Banana Split":[123,118,57],
                    "Blueberry Pie":[15,95,96],
                    "Butterscotch":[103,63,8],
                    "Candyfloss":[124,60,78],
                    "Caramel":[124,112,75],
                    "Chilli":[55,0,3],
                    "Coffee":[53,5,1],
                    "Cola":[86,31,5],
                    "Cranberry and Apple":[113,0,1],
                    "French Vanilla":[144,137,114],
                    "Granny Smith Apple":[5,65,23],
                    "Grape":[40,0,5],
                    "Lemon and Lime":[77,77,6],
                    "Liquorice":[37,11,17],
                    "Mango":[107,55,3],
                    "Marshmallow":[34,48,29],
                    "Mint Sorbet":[59,69,94],
                    "Peachy Pie":[126,23,3],
                    "Pear":[75,103,61],
                    "Pina Colada":[148,115,19],
                    "Pink Grapefruit":[139,65,23],
                    "Sour Lemon":[164,153,25],
                    "South Seas Kiwi":[107,111,59],
                    "Strawberry":[99,0,6],
                    "Strawberry Smoothie":[105,2,19],
                    "Tangerine":[127,40,3],
                    "Tropical Punch":[151,141,116],
                    "Watermelon":[23,81,3],
                    "Wild Cherry":[4,1,13]
                }
                context.scale(-1,1);
                
                function classify(color){
                    var rankings=[]
                    var total=0
                    for(var i = 0; i < Object.keys(beanData).length; i++){
                        var key = Object.keys(beanData)[i]
                        var value = beanData[key]
                        rankings[i]=[100/Math.sqrt(Math.pow(value[0]-color[0],2)+Math.pow(value[1]-color[1],2)+Math.pow(value[2]-color[2],2)),key]
                        total+=rankings[i][0]
                    }
                    rankings=rankings.sort(function(a,b){return -(a[0]-b[0])})
                    return rankings[0][1] + " " + Math.round(1000*rankings[0][0]/total)/10 + "% Certainty"
                }
                
                function g(){
                    context.drawImage(playerElement, -400, 0, 400, 400)
                    imgdat=context.getImageData(175,175,50,50)
                    avgColor=[0,0,0]
                    rawimgdat= imgdat["data"]
                    for (var i = 0; i < rawimgdat.length; i+=4) {
                        avgColor[0]+=rawimgdat[i]
                        avgColor[1]+=rawimgdat[i+1]
                        avgColor[2]+=rawimgdat[i+2]
                    }
                    avgColor[0]/=(rawimgdat.length/4)
                    avgColor[1]/=(rawimgdat.length/4)
                    avgColor[2]/=(rawimgdat.length/4)
                    
                    output.innerHTML=classify(avgColor)
                    
                    context.strokeStyle = gradient;
                    context.lineWidth = 6;
                    context.beginPath();
                    context.arc(-200,200,29,0,2*Math.PI);
                    context.stroke();
                              
                    context.strokeStyle = 'rgb('+avgColor+')';
                    context.lineWidth = 4;
                    context.beginPath();
                    context.arc(-200,200,29,0,2*Math.PI);
                    context.stroke();
                }
                navigator.mediaDevices.getUserMedia({video:{width: 400,height: 400}}).then((function(stream) {
                    playerElement.srcObject = stream;
                    setInterval(g, 5)
                }))
  </script>
</article>
