<% page_title = "Cells | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>JavaScript Cells</h1>
  <p/>
  <canvas id="canvas1" width="512" height="512"></canvas>
  <div>
    <button id="cell">Add Cell</button>
    <button id="reset">Reset</button>
  </div>
  <script src="/javascripts/cells.js"></script>
</article>
