<% page_title = "Crytyper | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>Crytyper</h1>
  <p>Enter text into the top box, then press "Translate" to crytype it.</p>
  <label for="multiplier"> Effect Magnitude</label>
  <input id="multiplier" type="range" min="0" max="200" value="50">
  <br/>
  <textarea id="input" class="centered"></textarea>
  <br/>
  <span class="centered">
    <button id="translate" class="centered">Translate</button>
  </span>
  <br/>
  <textarea id="output"class="centered"></textarea>
  <p>This tool was inspired by <a href="https://imgur.com/BHakB0g">this text</a>, from <a href="https://youtu.be/fS4X1JfX6_Q">this video</a>.</p>
  <p class="adj">The methodology was taken from an inspection of <a href="https://becca.ooo/crytyper/">Rebecca Turner's crytyper</a>, but written entirely by me.</p>
  <p class="adj" style="margin-top:1rem;font-size:0.8em;line-height:0.8rem">Disclaimer: I am aware that making jokes using crytyping is considered by some to be ableist in nature. I intend for this tool to primarily serve as a demonstration of a javascript implementation of the application of the analysable linguistic patterns that make up crytyping, and not for comedy. Nonetheless, if you feel that you are negatively affected by this tool or its use, please contact me using <a href="/contact">this form</a>.</p>
  <script src="/javascripts/crytyper.js"></script>
</article>
