<% page_title = "Dithering | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>Dithering</h1>
  <p>Move the slider to change the square size.</p>
  <label for="input"> Effect Magnitude</label>
  <input id="input" type="range" min="0" max="8" value="1" step="1">
  <br/>
  <canvas id="output" width="512" height="512"></canvas>
  <br/>
  <script src="/javascripts/dither.js"></script>
</article>
