<% page_title = "Tools | Mxmbrook.co.uk"%>
<% breadcrumb = false%>
<% layout('layout/tools') %>
<article>
  <h1>Web Tools</h1>
  <p>These "Tools" are applications that can be run in-browser. Each page will have a form or interface to use the tool, no download required.</p>
  <p>Unlike my <a href="/projects/">Projects</a>, in most cases the source code will not be readily downloadable, and may be integrated into the site itself. You can try searching through the repository for this site if you want to see how something works.</p>
  <p>This site also has an interactive element to it. If you want to check out other styles, click here: <a href="/tools/settings">Session Settings</a></p>
</article>
<hr/>
<article class="grid" style="grid-template-columns: auto min-content">
  <div style="position: relative">
    <h2>Phylogenetic Tree Editor</h2>
    <p>Interactively build and edit custom phylogenetic trees/dendrograms in-browser.</p>
    <br/>
    <p>Proposing a new phylogeny or describing a current one can significantly benefit from a visual aid, but it can be tedious drawing out whole trees. This tool takes the legwork out of that process, making it possible to add or remove branches at the click of a button. Trees can be saved as a .png, .svg, or as a json file to upload and edit later.</p>
    <br/>
    <br/>
    <br/>
    <a class="btn-1 btn-call-to-action" href="/tools/Phylogenetic_Tree_Editor">Phylogenetic Tree Editor →</a>
  </div>
  <img src="/images/PhylogeneticTreeEditorLogo.png">
</article>
<article class="grid" style="grid-template-columns: auto min-content">
  <div style="position: relative">
    <h2>Space Engineers Circle Generator</h2>
    <p>A pixel circle generator that can use the suite of shapes from the game Space Engineers.</p>
    <br/>
    <p>This tool is for planning out builds that need round shapes (hulls, nacelles, rings). Circles are notoriously hard to create free-hand, especially when you have a number of different slopes to use. This tool takes the pain out of that process and hands you the mathematically accurate circle or ellipse you need.</p>
    <br/>
    <br/>
    <br/>
    <a class="btn-1 btn-call-to-action" href="/tools/SECircle">Space Engineers Circle Generator →</a>
  </div>
  <img src="/images/SpaceEngineersCircleGeneratorLogo.png">
</article>
<article class="grid" style="grid-template-columns: auto min-content">
  <div style="position: relative">
    <h2>Matrix Multiplication Visualisation</h2>
    <p>This is my mental method of multiplying matrices (:p) in 3d. A written explanation of how this works and how this can help you visualise matrix multiplication can be found <a href="/blog/6">here</a>.</p>
    <br/>
    <br/>
    <br/>
    <a class="btn-1 btn-call-to-action" href="/tools/Matrix">Matrix Multiplication Visualisation →</a>
  </div>
  <img src="/images/MatrixMultiplicationLogo.png">
</article>
<article class="grid" style="grid-template-columns: auto min-content">
  <div style="position: relative">
    <h2>Commodore Vic-20 Character Art Generator</h2>
    <p>Allows you to convert 8*8 pixel art into a BASIC command for use in creating custom character graphics.</p>
    <br/>
    <p>The Commodore Vic-20 can display custom graphics by modifying the 8*8 images that make up its character set. By overriding those memory positions with numbers held in a DATA command, fun new graphics can be added to a game when it loads.</p>
    <br/>
    <br/>
    <br/>
    <a class="btn-1 btn-call-to-action" href="/tools/Vic20ArtEditor">Vic-20 Character Art Generator →</a>
  </div>
  <img src="/images/Vic20Logo.png">
</article>
<article class="grid" style="grid-template-columns: auto min-content">
  <div style="position: relative">
    <h2>Dithering Demonstration</h2>
    <p>Dithering is an effect that exploits the fact that eyes and cameras collect light over a 2d area in order to determine colour. By having two or more different colours very close together, they are interpreted as a single combined light source. This leads to interesting phenomena, such as how a grid of small but distinct blue and red squares appears purple. This tool is an interactive demonstration of this effect.</p>
    <br/>
    <br/>
    <br/>
    <a class="btn-1 btn-call-to-action" href="/tools/Dithering">Dithering Demonstration →</a>
  </div>
  <img src="/images/DitheringDemonstrationLogo.png">
</article>

