<% page_title = "Phylogenetic Tree Editor | Mxmbrook.co.uk"%>
<% breadcrumb = "Phylogenetic Tree Editor"%>
<% layout('layout/tools') %>
<article id="Phylogeny" class="fillWidth" style="display:table;vertical-align:middle;">
  <h1>Phylogenetic Tree Editor</h1>
  <div id="editorContainer" class="grid" style="margin:1em;grid-template-columns:30% 70%;height:525px">
    <div>
      <textarea class="noResize fillWidth" spellcheck="false" id="PhylogenyRawTreePane" style="height:100%;padding:0;border:0;white-space: nowrap">
{
  "name":"Family",
  "taxa":
  [
    {
      "name":"Genus1",
      "taxa":
      [
        {
          "name":"Species1"
        },
        {
          "name":"Species2"
        }
      ]
    },
    {
      "name":"Genus2",
      "taxa":
      [
        {
          "name":"Species3"
        },
        {
          "name":"Species4"
        }
      ]
    }
  ]
}
      </textarea>
    </div>
    <div style="display: flex;flex-direction: column">
      <btn-group class="btn-group-square">
        <button id="PhylogenyToggleRawTreePane">< Source</button><button id="PhylogenyResetView">Reset View</button><button id="PhylogenyResetTree">Reset Tree</button>
      </btn-group>
      <div id="PhylogenyCanvasParent" style="flex: 1;position: relative;overflow: hidden;">
        <btn-group id="PhylogenyCanvasOverlay" style="position: absolute;top:0px;left:0px;" hidden>
          <button id="PhylogenyEditNode">Edit</button><button id="PhylogenyAddNode">+</button><button id="PhylogenyDeleteNode" class="btn-warning">тип</button>
        </btn-group>
        <canvas id="PhylogenyCanvas" style="cursor:move;display: block;"></canvas>
      </div>
      <p>&nbsp;&#x1f6c8; Click and drag to pan. Scroll to zoom</p>
    </div>
  </div>
  </div>
  <script src="/javascripts/Phylogeny.js"></script>
</article>
