<% page_title = "Sarcastic Case Converter | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>Sarcastic Case Converter</h1>
  <p>Enter text into the top box, then press "Translate" to convert it.</p>
  <br/>
  <textarea id="input" class="centered"></textarea>
  <br/>
  <span class="centered">
    <button id="translate" class="centered">Translate</button>
  </span>
  <br/>
  <textarea id="output" class="centered"></textarea>
  <script src="/javascripts/sarcasm.js"></script>
</article>
