<% page_title = "UwU translator | Mxmbrook.co.uk"%>
<% layout('../layout/application') %>
<article>
    <h1>UwU Translator</h1>
    <p>Enter text into the top box, then press "Translate" to UwUify it.</p>
    <br/>
    <textarea id="input" class="centered"></textarea>
    <br/>
    <span class="centered">
    <button id="translate" class="centered">Translate</button>
    <button id="translatef" class="centered">Translate (With Faces)</button>
  </span>
    <br/>
    <textarea id="output"class="centered"></textarea>
    <script src="/javascripts/uwu.js"></script>
</article>