<% page_title = "Vic-20 Character Generator | Mxmbrook.co.uk"%>
<% layout('../layout/application') %>
<article>
  <h1>Vic-20 Character Generator</h1>
  <p>Select the boxes below to draw an image. Click "Generate" to turn the image into a series of 8 8-bit numbers.</p>
  <br/>
  <table class="pixelart">
    <%for (var y = 0; y < 8; y++) {%>
    <tr>
      <%for (var x = 0; x < 8; x++) {%>
      <td>
        <input type="checkbox" id="<%=x.toString()+y.toString()%>" value="Apple">
      </td>
      <%}%>
    </tr>
    <%}%>
  </table>
  <br/>
  <button id="generate">Generate</button>
  <br/>
  <input type="text" id="output">
  <script src="/javascripts/vic.js"></script>
  <style>table.pixelart{
    border-collapse: collapse;
    border:1px solid black;
}
table.pixelart tr{
    line-height:16px;
    height:16px
}
table.pixelart td{
    line-height:16px;
    height:16px;
    border:1px solid black;

}
table.pixelart td input{
    margin:0px;
    -webkit-appearance:none;
    background-color:lightgray;
    width:1rem;
    height:1rem;
    outline:0;
    display:block;
}
table.pixelart td input:checked{
    background-color:black;
}</style>
</article>
