<% page_title = "About | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>About this site!</h1>
  <p>This site is designed to be a catch-all for everything I might want to have hosted on the internet, from fun web-based widgets to official information. The Blog on this site is where I write about topics that I want to explore in-depth so that I can cite those entries in the future.</p>
  <p>The whole thing is still in development and was recently migrated from one framework to another so there may be bugs. If you have feedback, or want to contact me for any other reason, visit <a href="/contact">this contact page</a>.</p>
  <p>If you want to explore the content on this site, start by clicking on one of the links in the navbar above!</p>
</article>
<article>
  <h2>About the creator</h2>
  <br/>
  <div style="grid-template-columns:33% 33% 33%;display:grid;margin:0 5%">
    <figure>
      <img class="logfig" src="/images/mcocod.png" alt="Stock image representing computer science in the shape of this site's logo."/>
      <figcaption>Computer Scientist</figcaption>
    </figure>
    <figure>
      <img class="logfig" src="/images/mcotra.png" alt="Transgender flag in the shape of this site's logo."/>
      <figcaption>Equality Activist</figcaption>
    </figure>
    <figure>
      <img class="logfig" src="/images/mcoass.png" alt="Sheffield Assassins Guild logo in the shape of this site's logo."/>
      <figcaption>Student Society Operations Officer</figcaption>
    </figure>
  </div>
  <br/>
  <p>Hi! I'm Marcy!</p>
  <p>I'm a student currently studying MComp Computer Science at the University of Sheffield.</p>
  <p class="adj">I am nonbinary and my pronouns are "She/Her", but "They/Them" is fine too.</p>
  <p>Here are a few links to tie my online footprint together:</p>
  <ul>
    <p><a href="/linkedin">LinkedIn</a></p>
    <p class="adj"><a href="/github">Github</a></p>
    <p class="adj"><a href="/twitter">Twitter</a></p>
  </ul>
</article>