<% page_title = "About | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>About this site!</h1>
  <p>This site is designed to be a catch-all for everything I might want to have online, from fun web-based widgets to official info.</p>
  <p>The whole thing is pretty much in constant development just like everything else on the modern internet, but in this case it's mostly because I fanatically tinker with it. If you have feedback, or want to contact me for any reason, visit <a href="/contact">this contact page</a>.</p>
  <p>If you want to explore the content on this site, start by clicking on one of the links in the navbar above!</p>
</article>
<article>
  <h2>About the creator</h2>
  <p>Hi! I'm Marcy!</p>
  <p>I'm a software engineer with a focus on BE web development. I graduated from the University of Sheffield in 2022.</p>
  <p>My pronouns are "She/Her/Hers".</p>
  <br>
  <p>Here are a couple of links to tie my online footprint together:</p>
  <p class="centered"><a href="/linkedin">LinkedIn</a> | <a href="/github">Github</a></p>
  <p>Up to date as of 2022/11/07</p>
</article>
<div class="centered grid" style="grid-template-columns:2fr 1.9fr 2fr;">
  <figure>
    <img class="bottomBackground" src="/images/mcocod.png" alt="Stock image representing computer science in the shape of this site's logo."/>
    <figcaption>Software Engineer</figcaption>
  </figure>
  <figure>
    <img class="bottomBackground" src="/images/mco.png" alt="This site's logo, a blue M inside a swoosh."/>
  </figure>
  <figure>
    <img class="bottomBackground" src="/images/mcotra.png" alt="Transgender flag in the shape of this site's logo."/>
    <figcaption>For Equality</figcaption>
  </figure>
</div>