<% page_title = "Contact | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>Contact Me</h1>
  <p>Thanks for filling out the form.</p>
  <br/>
  <p><a href="/contact">Send another message.</a></p>
  <br/>
  <p><a href="/">Return home.</a></p>
</article>