<% page_title = "Contact | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<article>
  <h1>Contact Me</h1>
  <p>Thanks for filling out the form. Unfortunately, your response has not been passed on as it tripped one of the simplest levels of protection against bots. You can <a href="/contact">try again by clicking here.</a></p>
  <br/>
  <p><a href="/">Return home.</a></p>
</article>