<% page_title = "Error | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<%if(error.status==404){%>
    <article>
        <h1>Error <%= error.status %></h1>
        <h2>Page not found.</h2>
        <p>If this page previously worked, then it is likely temporarily down due to a shift from rails to node.js. Please bear with me as I reimplement more sections.</p>
    </article>
<%}else{%>
    <article>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </article>
<%}%>