<% page_title = "Home | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<main>
  <section class="hexGrid">
    <a class="hexSmall" href="/github">
      <div>
        <h1><img src="/images/github.png" style="width:65%"></h1>
      </div>
    </a>
    <a class="hexSmall" href="/linkedin">
      <div>
        <h1><img src="/images/linkedin.png" style="width:46%"></h1>
      </div>
    </a>
    <a class="hexBig" href="/blog">
      <div>
        <h1>Blog</h1>
      </div>
    </a>
    <a class="hexBig" href="/tools">
      <div>
        <h1>Tools</h1>
      </div>
    </a>
    <a class="hexBig" href="/shenanigans">
      <div>
        <h1>Shenans</h1>
      </div>
    </a>
    <a class="hexSmall" href="/twitter">
      <div>
        <h1><img src="/images/twitter.png" style="width:46%"></h1>
      </div>
    </a>
    <a class="hexSmall" href="/about">
      <div>
        <h1>About Me</h1>
      </div>
    </a>
    <div>
    </div>
    <a class="hexSmall" href="mailto:contact@mxmbrook.co.uk">
      <div>
        <h1 style="font-size:4em">📧</h1>
      </div>
    </a>
    <div>
    </div>
    <a class="hexBig" href="/projects">
      <div>
        <h1>Projects</h1>
      </div>
    </a>
    <div>
    </div>
    <a class="hexSmall" href="/contact">
      <div>
        <h1>Contact</h1>
      </div>
    </a>
    <div>
    </div>
  </section>
</main>
<style>
  header{
    z-index: 100;
    backdrop-filter: none;
    background-color: transparent;
    box-shadow: none;
  }
  section#content{
    max-width: min-content;
  }
  .hexGrid{
    width: fit-content;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content ;
    margin: 5em auto 12em;
  }
  .hexGrid>a>div{
    width: 10vw;
    height: 8.63vw;
    transition: transform .2s; /* Animation */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    /*background: rgba(129,135,165,0.65);*/
    background: radial-gradient(circle, rgba(186, 206, 210, 0.65) 10%,rgba(129,135,165,0.65) 70%);
    font-size: 1vw;
  }
  .hexGrid>*>*>*{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .hexGrid>a{
    display: block;
    position: relative;
    filter: drop-shadow(0px 0px .28vw rgba(0, 0, 0, 0.7));
    width: 10vw;
    height: 8.63vw;
    color: #222;
    margin: 2.5vw 1vw;
    transition: transform .2s, filter .2s; /* Animation */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .hexSmall:nth-of-type(-2n+7){
    transform: translate(0,calc(50% + 2.5vw));
  }
  .hexSmall:nth-of-type(-2n+7):hover:not(:active){
    transform: translate(0,calc(50% + 2.5vw)) scale(1.2);
    z-index: 1;
  }
  .hexSmall:hover:not(:active) {
    transform: scale(1.2);
    z-index: 1;
  }
  .hexBig{
    transform: scale(1.5);
  }
  .hexBig:hover:not(:active){
    transform: scale(1.8);
    z-index: 1;
  }
  .hexBig:nth-of-type(-2n+7){
    transform: translate(0,calc(50% + 2.5vw)) scale(1.5);
  }
  .hexBig:nth-of-type(-2n+7):hover:not(:active) {
    transform: translate(0,calc(50% + 2.5vw)) scale(1.8);
    z-index: 1;
  }

</style>
