<% page_title = "Home | Mxmbrook.co.uk"%>
<% layout('layout/application') %>
<main>
  <section class="hexgrid">
    <a href="/blog">
      <div>
        <h1>Blog</h1>
      </div>
    </a>
    <a href="/tools">
      <div>
        <h1>Tools</h1>
      </div>
    </a>
    <a href="/projects">
      <div>
        <h1>Projects</h1>
      </div>
    </a>
  </section>
</main>
<style>
  .hexgrid{
    width: calc(60vw*1.1547 + 0.8em);
    max-width: calc(80vh*1.1547 + 0.8em);
    margin: 1em auto;
    display: grid;
    grid-template-columns: auto auto;
  }
  .hexgrid>*>* {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  header{
    z-index: 100;
  }
  .hexgrid>* {
    display: block;
    position: relative;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: linear-gradient(-30deg, rgba(0,181,179,0.75) 0%, rgba(80,80,159,0.75) 25%, rgba(167,104,182,0.75) 50%, rgba(62,114,215,0.75) 75%, rgba(0,212,255,0.75) 100%);
    backdrop-filter: blur(5px);
    width: calc(30vw*1.1547);
    height: 30vw;
    max-width: calc(40vh*1.1547);
    max-height: 40vh;
    color: #222;
    margin: 0.2em;
    transition: transform .2s; /* Animation */
  }
  .hexgrid>*:nth-child(2n){
    transform: translate(calc(-12.5%),calc(50% + 0.2em));
  }
  .hexgrid>*:nth-child(2n):hover {
    transform: translate(calc(-12.5%),calc(50% + 0.2em)) scale(1.2);
    z-index: 1;
  }
  .hexgrid>*:nth-child(2n+1){
    transform: translate(calc(12.5%),0%);
  }
  .hexgrid>*:nth-child(2n+1):hover {
    transform: translate(calc(12.5%),0%) scale(1.2);
    z-index: 1;
  }
</style>
