<% page_title = "Shenanigans | Mxmbrook.co.uk"%>
<% breadcrumb = false%>
<% layout('layout/shenanigans') %>
<article>
  <h1>Shenanigans</h1>
  <p>These pages are tools that didn't make the cut for my "serious" tools page, but I couldn't let all that mischief go to waste now, could I?</p>
</article>
<div class="grid" style="grid-template-columns: auto auto auto;grid-template-areas:'. . .'  ' . . .' 'hr hr hr';column-gap: 16px;">
  <article>
    <div>
      <h2>UwU Translator</h2>
      <p>This page will translate text into "UwU speak". Apologies in advance.</p>
      <br/>
      <p>E.g. wowem ipsum dowow sit amet, consectetuw uwu adipiscing ewit</p>
      <br/>
      <p><a href="/shenanigans/uwu">UwU Translator</a></p>
    </div>
  </article>
  <article>
    <div>
      <h2>Crytyper</h2>
      <p>This page will translate text into "Crytype".</p>
      <br/>
      <p>E.g. Loremi psum d..o,,lor st.i amet, consect.etu radipiscing elit</p>
      <br/>
      <p><a href="/shenanigans/Crytyper">Crytyper</a></p>
    </div>
  </article>
  <article>
    <div>
      <h2>Sarcastic Case Converter</h2>
      <p>This page will translate text into "Mocking Case".</p>
      <br/>
      <p>E.g. LOreM IPsUm dOlOR sIt AmeT, ConSECTETuR ADiPIscInG ELit</p>
      <br/>
      <p><a href="/shenanigans/Sarcasm">Sarcastic Case Converter</a></p>
    </div>
  </article>
  <article class="tool collapse searchCanvases">
    <div>
      <h2>Lava Lamp</h2>
      <p>Go and take a look at <a href="https://onfe.uk/">onfe.uk</a> and tell me that background doesn't look like a lavalamp.</p>
      <br/>
      <p>Totally does right? Well I stole that svg filter nonsense and made a real lavalamp out of it.</p>
      <br/>
      <p><a href="/shenanigans/JSLavalamp">Lava Lamp</a></p>
    </div>
  </article>
  <article class="tool collapse searchCanvases">
    <div>
      <h2>JavaScript Alpaca</h2>
      <p>The first thing I ever made with javascript; it was just too cute to not put on my website.</p>
      <br/>
      <p><a href="/shenanigans/JSAlpaca">JavaScript Alpaca</a></p>
    </div>
  </article>
  <article class="tool collapse searchUniques">
    <div>
      <h2>Optical Jellybean Recogniser</h2>
      <p>Who says you need machine learning to recognise jelly beans?</p>
      <br/>
      <p>A parody of <a href="https://beanify.freddyheppell.com/">Beanify</a></p>
      <br/>
      <p><a href="/shenanigans/JSBean">Optical Jellybean Recogniser</a></p>
    </div>

  </article>
  <h3 class="hr"><span>WIP Section</span></h3>
  <article class="tool collapse searchCanvases">
    <div>
      <h2>JavaScript Cells</h2>
      <p>An experiment in mathematical representation of cell shapes. Nowhere near done.</p>
      <p><a href="/shenanigans/JSCells">JavaScript Cells (WIP)</a></p>
    </div>
  </article>
</div>
