<% page_title = "The Alpaca | Mxmbrook.co.uk"%>
<% breadcrumb = "The Alpaca"%>
<% layout('layout/shenanigans') %>
<article id="JSAlpaca">
  <h1>JavaScript Alpaca</h1>
  <canvas id="JSAlpacaCanvas" width="512" height="512"></canvas>
  <div>
    <button id="JSAlpacaSit">Sit</button>
    <button id="JSAlpacaStand">Stand</button>
    <button id="JSAlpacaColor">Change Color</button>
    <button id="JSAlpacaReset">Reset</button>
  </div>
  <p>Click anywhere in the sky to get the Alpaca to look at that spot</p>
  <p>Click anywhere on the ground to move the Alpaca to that spot</p>
  <p>Click on the sun for the Alpaca to produce a rainbow</p>
  <script src="/javascripts/JSAlpaca.js"></script>
</article>
