<% page_title = "Cells | Mxmbrook.co.uk"%>
<% breadcrumb = "Cells"%>
<% layout('layout/shenanigans') %>
<article id="JSCells">
  <h1>JavaScript Cells</h1>
  <p/>
  <canvas id="JSCellsCanvas" width="512" height="512"></canvas>
  <div>
    <button id="JSCellsAdd">Add Cell</button>
    <button id="JSCellsReset">Reset</button>
  </div>
  <script src="/javascripts/JSCells.js"></script>
</article>
