<% page_title = "Sarcastic Case Converter | Mxmbrook.co.uk"%>
<% breadcrumb = "Sarcastic Case Converter"%>
<% layout('layout/shenanigans') %>
<article id="Sarcasm">
  <h1>Sarcastic Case Converter</h1>
  <p>Enter text into the top box, then press "Translate" to convert it into sarcastic case.</p>
  <br/>
  <textarea id="SarcasticInput" class="centered fillWidth verticalResize minH-lg"></textarea>
  <button id="SarcasticTranslate" class="centered btn-lg">Translate</button>
  <textarea id="SarcasticOutput" class="centered fillWidth verticalResize minH-lg"></textarea>
  <script src="/javascripts/Sarcasm.js"></script>
</article>
