<% page_title = "Settings | Mxmbrook.co.uk"%>
<% breadcrumb = "Settings"%>
<% layout('layout/shenanigans') %>
<article id="Settings">
  <p><b>Unfortunately no features on this page survived the recent framework change. They may not be reimplemented.</b></p>
</article>
<div style="filter:blur(3px)">
<article>
  <h1>Session Settings</h1>
  <form method="post" action="/tools/settings/session/dyslexic">
    <p>Use OpenDyslexic font?</p>
    <input type="checkbox" name="dyslexic" value="true" checked/>
    <input type="submit"/>
  </form>
</article>
<article>
  <h2>Future-Proofing</h2>
  <form method="post" action="/tools/settings/session/style">
    <p>Thanks to advances in serverside technology, we here at mxmbrook.co.uk have developed multiple CSSs so that science can still be done, even in the event of environmental, social, economic, or structural collapse.</p>
    <p>If, for some reason, sleek monotone aesthetics with cards and box-shadows do not remain stylish into the future, then please select one of the following styles so that browsing can continue in a modern manner.</p>
    <div>
      <input type="radio" name="selected" id="cssmain" value="main" checked/>
      <label for="cssmain">2019</label>
    </div>
    <div>
      <input type="radio" name="selected" id="cssdotc" value="dotcom"/>
      <label for="cssdotc">Another dotcom boom</label>
    </div>
    <div>
      <input type="radio" name="selected" id="cssgrad" value="gradients"/>
      <label for="cssgrad">Please tell me gradients are back</label>
    </div>
    <div>
      <input type="radio" name="selected" id="cssmatd" value="matdes"/>
      <label for="cssmatd">MatERiAl DeSigN</label>
    </div>
    <div>
      <input type="radio" name="selected" id="cssgra2" value="mgradients2"/>
      <label for="cssgra2">Gradients, but pretentious!</label>
    </div>
    <div>
      <input type="radio" name="selected" id="cssunfa" value="munfair"/>
      <label for="cssunfa">Unfair Means</label>
    </div>
    <div>
      <input type="radio" name="selected" id="cssmake" value="molay"/>
      <label for="cssmake">"I make stuff"</label>
    </div>
    <br/>
    <input type="submit" value="Change Style"/>
  </form>
</article>
</div>
