<% page_title = "UwU translator | Mxmbrook.co.uk"%>
<% breadcrumb = "UwU translator"%>
<% layout('layout/shenanigans') %>
<article id="uwu">
    <h1>UwU Translator</h1>
    <p>Enter text into the top box, then press "Translate" to UwUify it.</p>
    <br/>
    <textarea id="UwuInput" class="centered fillWidth verticalResize minH-lg"></textarea>
    <btn-group class="centered">
        <button id="UwuTranslate" class="btn-lg">Translate</button><button id="UwuTranslateFaces" class="btn-lg-2">+ Faces</button>
    </btn-group>
    <textarea id="UwuOutput" class="centered fillWidth verticalResize minH-lg"></textarea>
    <script src="/javascripts/uwu.js"></script>
</article>