<% page_title = "Projects | Mxmbrook.co.uk"%>
<% breadcrumb = false%>
<% layout('layout/projects') %>
<article>
  <h1>Projects</h1>
  <p>These are some long-term coding projects and bigger things I'm working on.</p>
  <br/>
  <p>This section of my wobsite is still WIP so bear with me as I add my projects here!</p>
</article>