<% page_title = "Projects | Mxmbrook.co.uk"%>
<% breadcrumb = false%>
<% layout('layout/projects') %>
<article>
  <h1>Projects</h1>
  <p>These are some long-term coding projects and bigger things I'm working on.</p>
  <br/>
  <p>This section of my wobsite is still WIP so bear with me as I add my projects here!</p>
</article>
<article class="grid" style="grid-template-columns: auto min-content">
  <div style="position: relative">
    <h2>Trigger Guard</h2>
    <p>A browser extension for firefox that allows you to block words and phrases from all and any web pages, with no delay.</p>
    <p>I made this because alternatives were slow, allowing triggering words to appear on the page temporarily (which you can imagine isn't great).</p>
    <br/>
    <a class="btn-1 btn-call-to-action" href="https://addons.mozilla.org/en-GB/firefox/addon/marcy-s-trigger-guard">Marcy's Trigger Guard →</a>
  </div>
  <img src="/images/TriggerGuard.png">
</article>