<% page_title = "Blog | Mxmbrook.co.uk"%>
<% page_description = "The unproven speculations of a computer science student."%>
<% layout('layout/application') %>
<article>
    <h1>Blog</h1>
    <p>This is where I write about any topics I may want to reference in the future. There is no schedule for posts, and anything goes! Newest posts are at the top.</p>
</article>
<%for(let id in blogs){let entry = blogs[id];%>
<article class="blog">
    <h2><%=entry["title"]%></h2>
    <p class="adj"><%=entry["desc"]%>...</p>
    <p><a href="/blog/<%=entry["id"]%>">Continue Reading ─></a></p>
</article>
<%}%>
