<% page_title = "Blog"%>
<% page_description = "content"%>
<% layout('../layout/application') %>
<article>
    <h2>Blog</h2>
</article>
<article class="blog">
    <%- partial(blog["file"])%>
</article>