<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="msvalidate.01" content="7BFAB72892EDD0271CC0CC7B89664F3B" />
    <meta name="google-site-verification" content="UOouO-FLDXINpgkCqGnVZtDeWC7nNwW6GEq6n9fWFhA" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1.0, maximum-scale=10, minimum-scale=0">
    <%if(include_recaptcha){%>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <%}%>
    <title><%= page_title || "mxmbrook.co.uk"%></title>
    <link type="text/css" rel='stylesheet' href='/css/application.css' />
    <link type="text/css" rel='stylesheet' href='/css/mobile.css' media="(max-width:768px)"/>
    <%if(seasonal_style){%>
    <link type="text/css" rel='stylesheet' href='/css/special/<%= seasonal_style%>>.css' />
    <%}%>
    <link rel="icon" href="/images/mco.png">
  </head>

  <body>
    <header<%if(seasonal_text){%> title="<%=seasonal_text%>"<%}%>>
      <a id="logo" href="/"><img src="/images/mco.png" alt="logo"/></a>
      <span id="siteTitle">Marcy Brook</span>
      <input type="checkbox" class="mobileOnly">
      <nav>
        <a href="/" class="btn-1">Home</a>
        <a href="/tools" class="btn-1">Tools</a>
        <a href="/shenanigans" class="btn-1">Shenanigans</a>
        <a href="/projects" class="btn-1">Projects</a>
        <a href="/about" class="btn-1">About</a>
      </nav>
    </header>
    <section id="content">
      <%- body -%>
      <footer>
        <p>This page's content and template was written by Marcy Brook. <a href="/contact">Contact.</a> This site uses some cookies, but none of the horrifically unethical tracking cookies that require consent.</p>
        <script> </script>
      </footer>
    </section>
  </body>
</html>
