<% layout('layout/application') %>
<breadcrumb-trail>
    <p>You are here: <a href="/">Home</a> → <a href="/shenanigans/">Shenanigans</a><%if(breadcrumb){%> → <%=breadcrumb%><%}%> ↴</p>
</breadcrumb-trail>
<%- body -%>